.welcome-text {
    color: grey;
    font-size: 3rem;
}

.same-height-columns {
    display: flex;
    border: 1px solid black;
}

.same-height-columns__column {
    flex: 1;
    /* Space between columns */
    margin: 0 8px;

    /* Layout each column */
    display: flex;
    flex-direction: column;

    border: 1px solid red;
}

.same-height-columns__content {
    /* Take available height */
    flex: 1;

    border: 1px solid green;
}