body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, arial;
    margin: 0;
}

nav {
    background-color: #4DA2CC;
    color: #fff;
    padding: 15px 30px;
    display: flex;
  }
  
  nav > span {
    height: 50px;
    line-height: 50px;
  }
  
  #logo {
    flex-grow: 1;
  }
  
  #logo img {
    max-height: 50px;
  }
  
  #logo a {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 2px;
  }
  
  #logo span {
    vertical-align: middle;
  }

  nav ul {
    display: flex;
    list-style: none;
  }
  
  .menu-item {
    margin-right: 20px;
  }

  .menu-item a{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

